.App {
  background-color: lavender;
}
.inputValue {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  margin: 20px;
  padding: 20px;
  gap: 20px;
}
.products {
  width: 300px;
  background-color: #ffff;
  height: 350px;
}

.product__Photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 15px;
  height: 190px;
}
.product__add {
  background-color: rgb(144, 144, 241);
  margin-left: 90px;
  margin-top: 8px;
  height: 30px;
  width: 100px;
}
.products__Button {
  display: flex;
  justify-content: center;
}
h5 {
  margin-bottom: 8px;
}
.input__dates {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  padding: 20px;
  gap: 15px;
  width: 260px;
}
.resetButton {
  background-color: rgb(0, 132, 255);
  width: 50px;
}
.title,
.price {
  display: flex;
  justify-content: center;
  margin: 5px;
}
